@import "../../styles/base/_fonts.less";
@import "../../styles/base/_reset.less";
@import "../../styles/base/_variables.less";
@import "../../styles/base/_mixins.less";
@import "../../styles/base/_elements.less";

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body:extend(html) {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.main-page {
  min-height: 100%;
  background-image: @overlay-mb-img;
  background-size: 100% @overlay-bg-height-mb;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  &.rtl {
    direction: rtl;
  }
}

.page-1-bg {
  background-color: @page-1-bg-color;
}

.page-2-bg {
  background-color: @page-2-bg-color;
}

.page-3-bg {
  background-color: @page-3-bg-color;
}

.page-4-bg {
  background-color: @page-4-bg-color;
}

.page-5-bg {
  background-color: @page-5-bg-color;
}

.header-placeholder {
  width: 100%;
  height: @header-height-mb;
  flex-basis: @header-height-mb;
  flex-shrink: 0;
  flex-grow: 0;
}

header {
  width: 100%;
  height: @header-height-mb;
  padding: 0 @grid-margin;
  background-color: inherit;
  font-family: 'NunitoSans';
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: background-color .5s;

  .header-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: @logo-size-mb;
    height: 100%;
    background: @logo-small-icon;
    background-size: contain;
    display: block;
  }

  .btn-login {
    min-width: @btn-login-width;
    padding: 7px 15px;
    border: @btn-login-border;
    .border-radius(100px);
    color: #fff;
    text-align: center;
    display: block;
  }

  .lang-select {
    padding-right: 20px;
  }

  .select {
    padding-right: 20px;
    background: @white-arrow-icon;
    text-transform: uppercase;
  }
}

main {
  padding: 20px @grid-margin 0;

  .swiper-container {
    max-width: @swiper-block-width;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .swiper-block {
    margin-bottom: 40px;
  }
  .swiper-pagination{
    top: 50%;
    margin-top: -30px;
    right: 0;
    position: absolute;
  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background-color: #fff;
    opacity: 0.5;
    display: block;
    .border-radius(5px);
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
  }

  .block-header {
    margin-bottom: 35px;
    font-family: 'Gilroy';
    font-size: 32px;
    font-weight: 300;
  }

  .block-info {
    font-family: 'NunitoSans';
  }

  .block-img {
    text-align: center;
  }
}

.sign-in-form {
  max-width: @form-width;
  padding: 15px 15px 25px;
  margin: 0 auto 35px;
  .border-radius(15px);
  background-color: #fff;
  color: @input-text-color;
  box-shadow: @sign-in-form-shadow;

  .input-item {
    height: @input-height;
    margin-bottom: 20px;
    border-bottom: @input-border;
    font-size: 14px;
    color: @input-text-color;

    &:focus {
      & ~ .input-border {
    	  width: 100%;
        margin-left: -50%;
      }
    }
  }

  .input-wrap {
    position: relative;
  }

  .input-border {
    position: absolute;
    left: 50%;
	  content: '';
	  height: 2px;
    background: @input-active-color;
    .transition(all 0.2s);
    width: 0;
    bottom: 0;
  }

  .dropdown {
    padding-top: 15px;
    background: @black-arrow-icon;

    .dropdown-btn {
      padding-right: 20px;
    }
  }

  .label {
    font-size: 10px;
    text-transform: uppercase;
  }

  .country-number-wrap {
    display: flex;
    justify-content: space-between;
  }

  .country-number {
    margin-bottom: 10px;
  }

  .country-code {
    flex-basis: @input-code-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 20px;

    .input-item {
      height: @input-numbers-height;
      padding-top: 0;
    }
  }

  .number {
    width: 100%;

    .input-item {
      height: @input-numbers-height;
    }
  }

  .sign-in-checkbox {
    margin-bottom: 20px;
    display: flex;
  }

  .accept-label {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;
  }

  .accept-label-link {
    color: @label-link-color;
    text-decoration: underline;
  }

  .sign-in-submit {
    width: 100%;
    min-height: 58px;
    .border-radius(100px);
    background-color: @submit-btn-color;
    box-shadow: @submit-btn-shadow;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
}

.swiper-block-1 {
  .block-info {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.44;
  }
}

.swiper-block-2 {
  .block-info {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .block-list {
    font-size: 16px;
    line-height: 1.5;
  }
}

.swiper-block-3 {
  .block-info {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .block-img-wrap {
    display: flex;
  }

  .block-img {
    width: 50%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .caption {
    margin-top: 25px;
    font-size: 18px;
  }
}

.swiper-block-4 {
  .block-list {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.swiper-block-5 {
  .block-info {
    margin-bottom: 35px;
    font-size: 20px;
  }

  .block-img {
    text-align: left;
  }
}

footer {
  padding: 65px 25px 0;

  .supports {
    margin: 40px 0;
    font-weight: 700;
    text-align: center;
  }

  .supports-img {
    margin-left: 30px;
    vertical-align: middle;
  }

  .footer-nav {
    padding: 60px 0 35px;
    border-top: @footer-nav-border;
    font-family: 'NunitoSans';
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.1px;
    display: flex;
    justify-content: center;
  }

  .footer-nav-left {
    margin-right: 15px;
    text-align: right;
  }

  .footer-nav-right {
    margin-left: 15px;
  }

  .footer-nav-item {
    margin-bottom: 30px;
  }

  .footer-nav-link {
    color: #fff;
  }

  .geekapps-link {
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .main-page {
    background: @overlay-img;
    background-size: auto @overlay-bg-height-tablet;
    transition: background-color .5s;
  }

  header {
    height: @header-height-desk;

    .header-wrap {
      max-width: @page-width;
      margin: 0 auto;
      justify-content: flex-end;
    }

    .logo {
      width: @logo-size-desk;
      margin-right: auto;
      background: @logo-big-icon;
    }

    .btn-login {
      margin-right: 40px;
    }
  }

  .header-placeholder {
    height: @header-height-desk;
    flex-basis: @header-height-desk;
  }

  footer {
    .supports {
      margin-bottom: 25px;
    }

    .footer-nav {
      padding: 40px 0;
    }

    .footer-nav-right,
    .footer-nav-left {
      margin: 0;
      display: flex;
    }

    .footer-nav-item {
      margin: 0 30px;
    }
  }
}

@media screen and (min-width: @tablet) {
  .main-page {
    background-size: 100% @overlay-bg-height-desk;
  }

  main {
    margin: 0 10px;
    padding: 0;
    max-width: @page-width;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;

    .swiper-container {
      height: @swiper-block-height-tablet;
      max-width: @swiper-block-width-max;
      margin: 0;
    }

    .swiper-block {
      margin-bottom: 0;
      padding-right: 40px;
    }

    .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 13px 0;
    }

    .block-header {
      font-size: 36px;
    }
  }

  .sign-in-form {
    padding: 30px 35px;
    margin: 0;
    margin-left: 20px;

    .input-item,
    .country-number {
      font-size: 16px;
    }

    .label {
      font-size: 11px;
    }

    .accept-label {
      margin-top: 3px;
      font-size: 14px;
    }
  }

  .swiper-block-1 {
    .block-header {
      margin-bottom: 30px;
    }
    .block-info {
      margin-bottom: 30px;
      font-size: 18px;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  .swiper-block-2 {
    .block-header {
      margin-bottom: 20px;
    }

    .block-info {
      margin-bottom: 15px;
      font-size: 24px;
    }

    .block-list {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  .swiper-block-3 {
    .block-header {
      margin-bottom: 20px;
    }

    .block-info {
      margin-bottom: 50px;
      font-size: 24px;
    }

    .caption {
      font-size: 20px;
    }
  }

  .swiper-block-4 {
    .block-header {
      margin-bottom: 25px;
    }

    .block-list {
      margin-bottom: 5px;
      font-size: 20px;
    }
  }

  .swiper-block-5 {
    .block-header {
      margin-bottom: 20px;
    }

    .block-info {
      margin-bottom: 40px;
      font-size: 24px;
    }
  }

  footer {
    padding-top: 0;
  }
}

@media screen and (min-width: @laptop) {
  main {
    margin: 0 auto;

    .swiper-container {
      height: @swiper-block-height-desk;
    }
  }

  .sign-in-form {
    margin-left: 40px;
  }

  footer {
    .footer-wrap {
      max-width: @page-width;
      margin: 0 auto;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: @tablet) and (max-width: @laptop) {
  footer {
    .supports {
      display: none;
    }
  }
}
