form.sign-in-form(name="loginForm" novalidate ng-submit="login.login()")
  .input-wrap
    input.input-item(type="email" name="email"  required ng-model="login.user.email" placeholder="{{ 'EMAIL-ADDRESS' | translate }}")
    span.input-border
  div(ng-show="loginForm.$submitted || loginForm.email.$touched")
    span(ng-show="loginForm.email.$error.required") Tell us your email.
    span(ng-show="loginForm.email.$error.email") This is not a valid email.
  .input-wrap
    input.input-item(type="password" name="password" required ng-model="login.user.pass" placeholder="{{ 'NEW-PASSWORD' | translate }}")
    span.input-border
  div(ng-show="loginForm.$submitted || loginForm.password.$touched")
    span(ng-show="loginForm.password.$error.required") Tell us your password.
  .input-wrap
    input.input-item(type="password" name="confirmPassword" required ng-model="login.user.confirmPass" password-confirm match-target="login.user.pass"  placeholder="{{ 'CONFIRM-PASSWORD' | translate }}")
    span.input-border
  div(ng-show="loginForm.$submitted || loginForm.confirmPassword.$touched")
    span( ng-show="loginForm.confirmPassword.$error.match" ) Passwords do not match.

  .input-item.dropdown
    .dropdown-btn {{ 'COUNTRY' | translate }}
  .country-number {{ 'CONTACT-NUMBER' | translate }}
  .country-number-wrap
    .country-code
      .label {{ 'COUNTRY-CODE' | translate }}
      .input-item.dropdown
        .dropdown-btn
    .number
      .label {{ 'NUMBER' | translate }}
      .input-wrap
        input.input-item(type="text" name="phone" required ng-model="login.user.phone")
        span.input-border
      div(ng-show="loginForm.$submitted || loginForm.phone.$touched")
        span(ng-show="loginForm.phone.$error.required") Tell us your contact number
  .sign-in-checkbox
    label.square-checkbox
      input(type="checkbox" id="accept" ng-model="login.user.privacy")
      .check
    label.accept-label(for="accept") {{ 'I-ACCEPT' | translate }}&nbsp
      a.accept-label-link(href="#") {{ 'TERM-PRIVACY' | translate }}
  input.sign-in-submit(type="submit" name="submit" value="{{ 'LETS-GO' | translate }}" ng-disabled="loginForm.$invalid")
