header.page-5-bg(ng-style="{background: theme}")
  .header-wrap
    a(href="#").logo
    a(href="#").btn-login {{ 'LOGIN' | translate }}
    .lang-select(dropdown)
      .select(ng-click="header.changeLanguage('en')") EN
      .select(ng-click="header.changeLanguage('heb')") HEB
      .select(ng-click="header.changeLanguage('fr')") FR

.header-placeholder
