footer
  .footer-wrap
    .supports {{ 'SUPPORTS' | translate }}:
      img.supports-img(src="../assets/images/icons/supports.png")
    nav.footer-nav
      ul.footer-nav-left
        li.footer-nav-item: a.footer-nav-link(href="#") {{ 'PRICING' | translate }}
        li.footer-nav-item: a.footer-nav-link(href="#") {{ 'EXPLORE' | translate }}
        li.footer-nav-item: a.footer-nav-link(href="#") {{ 'PARTNERS' | translate }}
      ul.footer-nav-right
        li.footer-nav-item: a.footer-nav-link(href="#") {{ 'SUPPORT' | translate }}
        li.footer-nav-item: a.footer-nav-link(href="#") {{ 'TEMPLATES' | translate }}
        li.footer-nav-item: a.footer-nav-link.geekapps-link(href="#") geekApps.com
