doctype html
html(lang='en')
   head
      title GeekAppsLanding
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
      meta(name='description', content='')
      meta(name='author', content='')
      each src in styles
         link(rel='stylesheet', type='text/css', href=src)
   body.page-5-bg(ng-app='app')
      ui-view

      each src in scripts
         script(src=src)
