.square-checkbox {
  width: 20px;
  height: 20px;
  flex-basis: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;

  .check {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: @checkbox-border;
    .border-radius(2px);

    &:before {
      content: '';
      width: 8px;
      height: 4px;
      position: absolute;
      top: 3px;
      left: 3px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
      .transition(opacity 0.4s);
    }
  }

  input[type="checkbox"] {
    display:none;
  }

  input:checked + .check {
    border-color: @checkbox-checked-color;
    background-color: @checkbox-checked-color;
  }

  input:checked + .check:before {
    opacity: 1;
  }
}
