@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'NunitoSans';
  src: url(../fonts/NunitoSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'NunitoSans';
  src: url(../fonts/NunitoSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'NunitoSans';
  src: url(../fonts/NunitoSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'NunitoSans';
  src: url(../fonts/NunitoSans-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/GilroyLight.ttf);
  font-weight: 300;
}
