.transition(@attr) {
  -webkit-transition: @attr;
          transition: @attr;
}

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
          box-shadow: @shadow;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
	        border-radius: @radius;
}


.placeholder(@rules) {
  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
    opacity: 1;
  }
  &::-moz-placeholder {
    @rules();
    opacity: 1;
  }
  &:-ms-input-placeholder {
    @rules();
  }
}

.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
