/*Sizes*/
@page-width: 1010px;
@header-height-desk: 115px;
@header-height-mb: 75px;
@logo-size-mb: 45px;
@logo-size-desk: 165px;
@btn-login-width: 110px;
@input-height: 45px;
@swiper-block-width: 505px;
@swiper-block-width-max: 555px;
@swiper-block-height-tablet: 580px;
@swiper-block-height-desk: 525px;
@overlay-bg-height-mb: 375px;
@overlay-bg-height-tablet: 260px;
@overlay-bg-height-desk: 280px;
@grid-margin: 10px;
@form-width: 415px;
@input-code-width: 100px;
@input-numbers-height: 30px;

/*Colors*/
@page-1-bg-color: #4bba27;
@page-2-bg-color: #fc701b;
@page-3-bg-color: #d4106b;
@page-4-bg-color: #f73054;
@page-5-bg-color: #45b6ee;
@input-text-color: #535353;
@submit-btn-color: #1fcddd;
@checkbox-checked-color:  #1fcddd;
@input-active-color: #1fcddd;
@label-link-color: #1a88d2;

/*Borders*/
@btn-login-border: solid 2px #ffffff;
@input-border: solid 2px rgba(218, 218, 218, 0.35);
@checkbox-border: solid 2px #dfdfdf;
@footer-nav-border: solid 2px rgba(255, 255, 255, 0.25);

/*Shadows*/
@sign-in-form-shadow: 0 2px 15px 0 rgba(255, 255, 255, 0.59);
@submit-btn-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.17);

/*Urls*/
@images: '../../assets/images';
@icons: '../../assets/images/icons';

/*Images & Icons*/
@logo-small-icon: url('@{icons}/logo-small.png') no-repeat center;
@logo-big-icon: url('@{icons}/logo-big.png') no-repeat center;
@white-arrow-icon: url('@{icons}/white-arrow.png') no-repeat right center;
@black-arrow-icon: url('@{icons}/black-arrow.png') no-repeat right center;
@overlay-img: url('@{images}/overlay.png') no-repeat center bottom 0;
@overlay-mb-img: url('@{images}/overlay-mb.png') no-repeat center bottom 0;

/*Breakpoints*/
@mobile-large: 425px;
@tablet-big: 840px;
@tablet: 768px;
@laptop: 1024px;
